/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>

/ {
        combos {
        compatible = "zmk,combos";

                gui {
                bindings = <&kp LGUI>;
                key-positions = <37 38>;
                };

                bsforleft {
                        bindings = <&kp BSPC>;
                        key-positions = <4 5>;
                };

                enterforleft {
                        bindings = <&kp ENTER>;
                        key-positions = <28 29>;
                };
        };
};

/ {
        keymap {
                compatible = "zmk,keymap";

		0_layer {
			label = "JustaToy";
//  -----------------------------------------------------------------------------
//  | TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  |BKSP |
//  |MO(1)|  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '  |
//  |LSHFT|  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |ENTER|
//                    |RCTRL| ALT | SPC |   |MO(2)|MO(3)| REP |
//  -----------------------------------------------------------------------------
			bindings = <
    &kp TAB    &kp Q  &kp W  &kp E      &kp R     &kp T        &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
    &mo 1      &kp A  &kp S  &kp D      &kp F     &kp G        &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
    &kp LSHFT  &kp Z  &kp X  &kp C      &kp V     &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                             &kp LCTRL  &kp LALT  &kp SPACE    &mo 2  &mo 3  &key_repeat
			>;
		};

		1_layer {
			label = "NoNum";
//  -----------------------------------------------------------------------------
//  | ESC | NUM |PSCRN| SLCK|PAUSE| F13 |   |  =  |  7  |  8  |  9  |  -  |BKSP |
//  |     | CAPS| INS | HOME|PG_UP| F14 |   |  *  |  4  |  5  |  6  |  +  |  *  |
//  |LSHFT| CAL | DEL | END |PG_DN| F15 |   |  :  |  1  |  2  |  3  |  /  |ENTER|
//                    |RCTRL| ALT | SPC |   |MO(2)|  0  |  .  |
//  -----------------------------------------------------------------------------
			bindings = <
    &kp ESC    &kp KP_NUM &kp PSCRN &kp SLCK  &kp PAUSE_BREAK  &kp F13     &kp KP_EQUAL     &kp KP_N7  &kp KP_N8  &kp KP_N9 &kp KP_MINUS  &kp BSPC
    &trans     &kp CAPS   &kp INS   &kp HOME  &kp PG_UP        &kp F14     &kp KP_ASTERISK  &kp KP_N4  &kp KP_N5  &kp KP_N6 &kp KP_PLUS   &kp KP_ASTERISK
    &kp LSHFT  &kp K_CALC &kp DEL   &kp END   &kp PG_DN        &kp F15     &kp COLON        &kp KP_N1  &kp KP_N2  &kp KP_N3 &kp KP_DIVIDE &kp ENTER
                                    &kp LCTRL &kp LALT         &kp SPACE   &mo 2            &kp KP_N0  &kp KP_DOT
			>;
		};

		2_layer {
			label = "NoArrows";
//  -----------------------------------------------------------------------------
//  |  ~  |  !  |  @  |  #  |  $  |  [  |   |  ]  | END |HOME |  |  |  \  |BKSP |
//  |  `  |  %  |  ^  |  &  |  *  |  (  |   |LEFT |DOWN | UP  |RIGHT|  :  |  "  |
//  |LSHFT|  _  |  -  |  +  |  =  |  {  |   |  }  |  )  |  <  |  >  |  ?  |ENTER|
//                    |RCTRL| ALT | SPC |   |     |     |     |
//  -----------------------------------------------------------------------------
			bindings = <
    &kp TILDE  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp LBKT    &kp RBKT  &kp END   &kp HOME  &kp PIPE   &kp BSLH   &kp BSPC
    &kp GRAVE  &kp PRCNT  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp COLON  &kp DQT
    &kp LSHFT  &kp UNDER  &kp MINUS  &kp PLUS   &kp EQUAL  &kp LBRC    &kp RBRC  &kp RPAR  &kp LT    &kp GT     &kp QMARK  &kp ENTER
                                     &kp LCTRL  &kp LALT   &kp SPACE   &trans    &trans    &kp RGUI
			>;
		};

		3_layer {
			label = "INeedF5";
//  ------------------------------------------------------------------------------
//  |  F1  |  F2 |  F3 |  F4 |  F5 |  F6 |   |  F7 |  F8 |  F9 | F10 | F11 | F12 |
//  |  F7  |  F8 |  F9 | F10 | F11 | F12 |   |     |     |     |     |     |     | &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
//  | LSHFT|     |     |CPREV| CPP |CNEXT|   |BTCLR| BT0 | BT1 | BT2 | BT3 |ENTER|
//                     |VOLDN|MUTE |VOLUP|   |TOG(4)|    |     |                   O_TOG
//  ------------------------------------------------------------------------------
			bindings = <
    &kp F1     &kp F2  &kp F3  &kp F4        &kp F5      &kp F6         &kp F7      &kp F8        &kp F9        &kp F10       &kp F11            &kp F12
    &kp F7     &kp F8  &kp F9  &kp F10       &kp F11     &kp F12        &kp HOME    &kp PG_DN     &kp PG_UP     &kp END       &ext_power EP_OFF  &soft_off
    &kp LSHFT  &trans  &trans  &kp C_PREV    &kp C_PP    &kp C_NEXT     &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &kp ENTER
                               &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP   &tog 4      &trans        &trans
			>;
		};

		4_layer {
			label = "CantGame";
//  ------------------------------------------------------------------------------
//  |    | ECS |  F1 |  F2 |	|  F3 |  F4 |  F5 |     |
//  |    |  `  |  1  |  2  |    |  3  |  4  |  5  |  I  |
//  |    | TAB |  Q  |  W  |    |  E  |  R  |  T  |  U  |
//	 |     |  A  |  S  |    |  D  |  F  |  G  |
//	 |LSHFT|  Z  |  X  |    |  C  |  V  |  B  |
//	 |LCTRL|LALT |     |    |     |SPACE|     |
//  ------------------------------------------------------------------------------

			bindings = <
    &kp LALT   &kp C  &kp D  &kp E  &kp N3  &kp F3   &kp F2   &kp N2     &kp W    &kp S      &kp X      &kp RGUI
    &kp SPACE  &kp V  &kp F  &kp R  &kp N4  &kp F4   &kp F1   &kp N1     &kp Q    &kp A      &kp Z      &kp LALT
    &kp ENTER  &kp B  &kp G  &kp T  &kp N5  &kp F5   &kp ESC  &kp GRAVE  &kp TAB  &kp GRAVE  &kp LSHFT  &kp LCTRL
                             &kp U  &kp I   &tog 4   &tog 4   &none      &none
			>;
		};

        };
};
